/* footer.component.scss */
footer {
  position: relative;
  
  button {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    
    &:hover {
      /* transform: translateY(-2px); */
      box-shadow: 0 4px 12px rgba(245, 176, 0, 0.963);
    }
  }
  
  a {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      background: rgba(251, 191, 36, 0.7);
      transition: width 0.3s ease;
    }
    
    &:hover::after {
      width: 100%;
    }
  }
}